In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/MyDrive/Praktikum/Praktikum 02"

In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv(path + "/Data/day (1).csv")
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [ ]:

# Hitung jumlah data
n_total = len(df)
n_test = int(0.2 * n_total)
n_train = n_total - n_test

In [ ]:
# Split data
train_data = df.iloc[:n_train]
test_data = df.iloc[n_train:]

In [ ]:
# Validation 10% dari training
n_val = int(0.1 * len(train_data))
val_data = train_data.iloc[:n_val]
train_data = train_data.iloc[n_val:]

In [ ]:
# Print hasil
print("Jumlah Data Total     :", n_total)
print("Jumlah Data Training  :", len(train_data))
print("Jumlah Data Validation:", len(val_data))
print("Jumlah Data Testing   :", len(test_data))
print("="*50)

Jumlah Data Total     : 731
Jumlah Data Training  : 527
Jumlah Data Validation: 58
Jumlah Data Testing   : 146
==================================================

In [ ]:
print("\n=== Data Training (5 baris teratas) ===")
print(train_data.head())

=== Data Training (5 baris teratas) ===
    instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
58      149  2011-05-29       2   0     5        0        0           0
59      581  2012-08-03       3   1     8        0        5           1
60      444  2012-03-19       1   1     3        0        1           1
61      543  2012-06-26       3   1     6        0        2           1
62       98  2011-04-08       2   0     4        0        5           1

    weathersit      temp     atemp       hum  windspeed  casual  registered  \
58           1  0.667500  0.615550  0.818750   0.213938    2355        2433
59           2  0.765833  0.722867  0.642500   0.215792    1328        5847
60           1  0.545000  0.532821  0.728750   0.162317     982        5171
61           1  0.630833  0.594704  0.373333   0.347642    1077        6365
62           2  0.335833  0.324479  0.836250   0.226992     172        1299

     cnt
58  4788
59  7175
60  6153
61  7442
62  1471

In [ ]:
print("\n=== Data Validation (5 baris teratas) ===")
print(val_data.head())

=== Data Validation (5 baris teratas) ===
   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0      704  2012-12-04       4   1    12        0        2           1
1       34  2011-02-03       1   0     2        0        4           1
2      301  2011-10-28       4   0    10        0        5           1
3      457  2012-04-01       2   1     4        0        0           0
4      634  2012-09-25       4   1     9        0        2           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           1  0.475833  0.469054  0.733750   0.174129     551        6055
1           1  0.186957  0.177878  0.437826   0.277752      61        1489
2           2  0.330833  0.318812  0.585833   0.229479     456        3291
3           2  0.425833  0.417287  0.676250   0.172267    2347        3694
4           1  0.550000  0.544179  0.570000   0.236321     845        6693

    cnt
0  6606
1  1550
2  3747
3  6041
4  7538

In [ ]:
print("\n=== Data Testing (5 baris teratas) ===")
print(test_data.head())

=== Data Testing (5 baris teratas) ===
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
585      624  2012-09-15       3   1     9        0        6           0
586      617  2012-09-08       3   1     9        0        6           0
587      557  2012-07-10       3   1     7        0        2           1
588      578  2012-07-31       3   1     7        0        2           1
589       86  2011-03-27       2   0     3        0        0           0

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
585           1  0.608333  0.585867  0.501667   0.247521    3160        5554
586           2  0.659167  0.611121  0.799167   0.281104    1557        4419
587           2  0.720833  0.664796  0.667500   0.151737     954        5336
588           1  0.713333  0.662896  0.704167   0.165425     968        6248
589           2  0.253043  0.250339  0.493913   0.184300     472        1221

      cnt
585  8714
586  5976
587  6290
588  7216
589  1693